.chat-row {
    display: flex;
    align-items: center;
    margin: 5px;
    width: 100%;
}

.row-reverse {
    flex-direction: row-reverse;
}

.chat-bubble {
    font-family: "Source Sans Pro", sans-serif, "Segoe UI", "Roboto", sans-serif;
    padding: 10px 15px;
    margin: 5px;
    max-width: 70%;
    font-size: 16px;
    color: black;
}

.ai-bubble {
    background: rgb(240, 242, 246);
    border-radius: 10px;
    margin-left: 10px;
}

.human-bubble {
    background: linear-gradient(135deg, rgb(0, 178, 255) 0%, rgb(0, 106, 255) 100%);
    color: white;
    border-radius: 20px;
    margin-right: 10px;
}

.chat-icon {
    border-radius: 5px;
    margin: 5px;
}
